NODE_ENV=development
PORT=3000
DATABASE=PUT-YOUR-MONGODB-URL-HERE
DATABASE_PASSWORD=PUT-YOUR-DB-CREDS-HERE

JWT_SECRET=
JWT_EXPIRES_IN=30d
JWT_COOKIE_EXPIRES_IN=30

EMAIL_USERNAME=SMTP-MAIL-INFOS-HERE
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_FROM=